@media (max-width: 600px) {

    /* -------------------- nav -------------------*/
    .navbar {
        padding: 0 0;
    }
    .navbar-ul {
        visibility: hidden;
        display: none;
    }

    .navbar-ul.active {
        visibility: visible;
        display: inline-block;
        margin: 0 0;
        width: 100%;
        height: 100vh;
        transition: all 500ms;
    }

    .navbar-il {
        padding: 15px 0;
    }

    .navbar-name {
        padding: 25px 50px;
        margin: 0 0;
        float: left;
    }

    .navbar-toggle {
        display: block;
        position: fixed;
        padding: 25px 25px;
        font-size: 24px;
        width: 60px;
        height: 50px;
        font-family: fontAwesome;
        cursor: pointer;
        z-index: 1000;
    }

    .navbar-toggle:before {
        content: '\f0c9';
    }

    .navbar-toggle.active:before {
        content: '\f00d';
    }



    /* -------------------------- fiche about -------------------------------- */
    .box-about {
        width: 90%;
        margin: 40px 0 40px 5% ;
        padding: 0 0;
        display: inline-block;
        font-family: 'Roboto', sans-serif;
    }

    .box-about-left {
        width: 100%;
        padding: 0 0;
    }

    .box-about-right {
        width: 95%;
        padding: 20px 5px;
        text-align: justify;
    }

    .box-about-left-top {
        display: inline-block;
        margin: 5px 5px;
        padding: 0 0;
    }
    .profil-img {
        padding-left: 75px;
    }

    .profil-table {
        margin: 0 0 0 0;
    }

    .x {
        margin: 0 5px;
        padding: 0 0 ;
        width: 95%;
    }
    .z {
        margin: 0 0;
        padding: 10px 0;
        width: 100%;
    }
    .z:before {
        content: ". . . . . . . . . . . . . . . . . . . . "
        ". . . . . . . . . . . . . . . . . .";
    }


    .profil-title {
        margin: 0 5%;
        font-size: 42px;
    }


    /* star code for resume */
    .container {
        width: 85%;
        margin: 0 0 0 0;
        padding: 30px 0 30px 30px;
    }
    .resume-titre {
        width: 200px;
        height: 60px;
        overflow: hidden;
    }

    .resume-lieu {
        width: 200px;
    }

    .resume-content ul li {
        width: 200px;
    }
    /* start code for competence */

    .box-competence {
        margin: 20px 0;
        width: 100%;
        display: inline-block;
        grid-template-columns: none;
    }
    .tuile {
        margin: 20px auto;

    }

    /* start code for projet */

    .projet {
        width: 100%;
        margin: 0 0;
        display: inline-block;
        grid-template-columns: none;
    }

    .box-projet {
        margin: 20px 20px 20px 0;
        height: 200px;
        width:  300px;
    }
    .projet-box {
        width: 300px;
        margin: 0 auto;
    }
    .projet-a {
        margin: 0 auto;
    }
}